body{
    margin: 0;
    padding: 0;
    font-size:  14px;
    font-family: Arial ,sans-serif ;
    line-height: 25px;
    background: #f5f3dd;
}
div, section , header, footer , nav , ul {
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
}
#section-1 {
    background-image: url(../img/laptop.jpg);
}
#section-2 {
    background-image: url(../img/br.jpg);
}
#section-3 {
    background-image: url(../img/digital.jpg);
}
#section-4 {
    background-image: url(../img/co.jpg);
}
#section-5 {
    background-image: url(../img/b.jpg);
}
nav{
    position: fixed;
    right:  50px;
    top: 50px;
    width: 18px;
}

nav a{
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid black;
    display:  inline-block;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    position: relative;
}

nav .caption {
    display: none;
    background: black;
    color: white;
    position: absolute;
    right: 20px;
    top: -10px;
    text-align: center;
    padding: 5px 10px;
}
nav a:hover .caption {
    display: block;
}
.layer {
    height: 500px;
    max-width: 100% ;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 80% 80% ;
        
}

section {
    padding: 40px 20px;
    max-width: 1160px;
    margin: 0 auto;
}
section::after {
    content: '';
    clear: both;
    display: table;
}

h1{
    font-size : 64px;
    line-height: 64px;
    margin: 0;
}

h3{
    color: blueviolet;
    text-align: center;
     margin: 0;
    font-style: italic;
}
#section-1 .skew-neg {
    margin : 100px 0 0 20%;
    border-left: 5px solid white;
    border-right: none;
}

.skew-neg {
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    border-left: 5px solid black;
    border-right: 5px solid black;
}

.skew-pos {
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
   -moz-transform: skew(10deg);
   -ms-transform: skew(10deg);
}

#section-1 .title {
    
    padding-left: 30px;
}

h3{
    font-size: 32px;
}

.h3 {
    float: left;
    width: 30%;
}

.h3 .skew-neg{
    padding: 20px;
}
.except {
    float: left;
    width: 70%;
    padding: 50px;
}
.row {
    width: 100%;
    float: left;
    margin-bottom: 40px;
}
#about-me .img{
    float: left;
    width: 25%;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
section .col{
    float: left;
    width: 73%;
    padding-left: 20px;
    text-align: justify;
}
section .col p {
    margin: 0 0 20px;
}

#about-me .box {
    float: left;
    border: 1px solid black;
    text-align: center;
    margin: 0 10px;
    min-width: 155px;
}


#about-me .box:first-child{
    margin-left: 0;
}
#about-me .header {
    padding: 10px;
    border-bottom: 1px solid black;
    font-weight: bold;
}

#about-me .box .value{
  padding: 10px;  
}

#about-me .row-boxes , #projects .row-projects{
    width: 100%;
    text-align: center;
    
}

#about-me .box-wrapper, #projects .project-wrapper {
    display: inline-block;
}

.timeline {
    width: 100%;
    float: left;
    position: relative; 
    margin-top:  40px;
}

.timeline::before {
    content: '';
    width : 2px;
    background: black;
    position: absolute;
    top:0;
    bottom: 0;
    left: 51%;
}
.timeline .experience {
    width: 40%;
}
.timeline .experience:nth-child(even) {
    float: right;
    padding-left: 60%;
}
.timeline .experience:nth-child(even) .timeline-body {
    border-left: none;
}
.timeline .experience:nth-child(odd) .timeline-body {
    border-right: none;
}
.timeline .experience:nth-child(odd) {
    float: left;
    padding-right: 60%;
}

.timeline .experience .timeline-heading{
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}

.timeline .experience .timeline-body {
    border: 2px solid black;
    padding: 10px;
}

.timeline .experience .bullet {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    position: absolute;
    left: 51%;
    margin-left: -30px;
    background: #f5f3dd;
}

.timeline .start-bullet {
    text-align: center;
    height:  40px;
    line-height:  40px;
    position: relative;
    top: -40px;
    font-size: 18px;
}

.timeline .start-bullet .skew-neg {
    display: inline-block ;
    padding: 0 20px;
    background: black;
    color: white;
    
}
.skill {
    float: left;
    width: 16.66666667%;
}

.skill .pie {
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px; 
    margin: 0 auto 10px;
}/* 5%= 80% - 75% = 360 * 0.05 = 18deg */

.skill .pie-80{
    background-image: linear-gradient(-18deg, black 50% , transparent 50%), linear-gradient(90deg, #f5f3dd 50% , transparent 50%)
}
/* -5% = 70%- 75% = 360% - 0.05 = -18deg*/
.skill .pie-70{
       background-image: linear-gradient(-18deg, black 50% , transparent 50%), linear-gradient(90deg, #f5f3dd 50% , transparent 50%)
}
.skill .heading{
    text-align: center;
    font-size: 18px; 
}

.skill .pie-35{
       background-image: linear-gradient(36deg, #f5f3dd 50% , transparent 50%), linear-gradient(90deg, #f5f3dd 50% , transparent 50%)
}
.skill .pie-40{
       background-image: linear-gradient(45deg, #f5f3dd 50% , transparent 50%), linear-gradient(90deg, #f5f3dd 50% , transparent 50%)
}
.skill .pie-90 {
       background-image: linear-gradient(-90deg, black 50% , transparent 50%), linear-gradient(90deg, #f5f3dd 50% , transparent 50%)
}

#projects .h3, #testimonials .h3 {
    text-align: center;
    float: none;
    margin: 0 auto;
}
#project .h3 .skew-neg, #testimonials .h3 .skew-neg{
    display: inline-block;
}

.project {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.project .caption {
  
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
}

.project .name{
    font-weight: bold;
}

.project .tech {
    font-style: italic;
    font-size: 16px;
}

.img-responsive {
    margin: 7px;
}

#testimonials .name {
    font-weight: bold;
    margin-bottom: 10px;
}

#testimonials .quote {
    font-style: italic;
    margin-bottom: 20px;
}

 /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        #projects .project-wrapper {
            width:  840px;
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        #section-1 .skew-neg {
            margin: 100px 0 0 10%;
        }
        .skill {
            width: 50%;
            margin-bottom: 20px;
        }
        #projects .project-wrapper{
            width: 560px;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

        h1{
            font-size: 48px;
            line-height:48px;
        }
        .h3 {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        .h3 .skew-neg{
            display: inline-block;
        }
        .except, #about-me .col {
            width: 100%;
            padding: 0;
        }
        #about-me .img{
            width: 100%;
            margin-bottom: 20px;
        }
        #about-me img {
            width: 100%;
        }
        .box-wrapper{
            width: 540px;
        }
        #about-me .box:first-child {
            margin-left: 10px;
        }
        #about-me .box {
            margin: 0 10px 20px;
        }
    }
    /*Spesial for Item-box iphone4, iphone5 Portait, Lanscape */
    @media only screen and (max-width: 667px){
        h1{
            font-size: 34px;
            line-height: 34px;
                
        }
        .box-wrapper {
            width:  360px;
        }
        .skill {
            width: 50%;
        }
        #projects .project-wrapper {
            width: 280px;
        }
    }
    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {

    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }
    
    input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}